<template name="answer">
  <div class="answer">
    <div class="answer-content">
      <h3>{{aid}}.{{atext}}
        <a href="#" class="upvote btn">Vote</a>
      </h3>
      <p>[{{votes}}] Votes</p>
    </div>
  </div>
  <canvas id="myCanvas" width="600" height="100"></canvas>
  <script>
    var canvas = document.getElementById('myCanvas');
    var context = canvas.getContext('2d');

    context.beginPath();
    context.rect(3, 3, {{votes}}*10, 75);
    context.fillStyle = 'yellow';
    context.fill();
    context.lineWidth = 3;
    context.strokeStyle = 'black';
    context.stroke();
  </script>
</template>
